<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="DBEntities" connectionString="metadata=res://*/DataFolder.Model1.csdl|res://*/DataFolder.Model1.ssdl|res://*/DataFolder.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q9BEC2K;initial catalog=Kursach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>

